table tr td{
  word-break:break-all;
}

.dir-bar-button{
  padding: 4px 8px;
  border: 1px solid #aaa;
  color: #000;
  background: #fff;
  border-radius: 5px;
  margin:0 4px 0 0;
  font-size: 0.7em;
  text-align: center;
  display: inline-block;
  font-weight: 700;
}

.dir-bar-button:hover,.dir-bar-button:active{
  background: #444;
  color:#fff;
}

.dir-up-button{
  font-family: "Droid Sans Mono", Sans;
}


.copyright{
  font-size: 0.8em;
  color: #888;
  text-align: right;
}


.fa-icon{
  margin:0 0.25em;
  font-size:32px;
}

.fa-icon.small{
  font-size:16px;
}

.fa-icon.large{
  font-size:48px;
}

.fa-icon.emsmall{
  font-size:0.8em;
}

.fa-icon.same{
  font-size:inherit;
}

.fa-icon.emlarge{
  font-size:1.3em;
}


.dir-bar{
  width: 100%;
  padding: 10px 12px 8px 12px;
  border:solid #bbbbbb 1.5px;
  border-radius: 8px 8px 0 0;
  border-bottom: solid #eee 1px;
  background-color: #ffffff;background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc3JyBoZWlnaHQ9JzE0JyB2aWV3Qm94PScwIDAgNSAxMCc+Cgk8cmVjdCB3aWR0aD0nMTEwJScgeD0nLTUlJyB5PSctNSUnIGhlaWdodD0nMTEwJScgZmlsbD0nI2ZmZmZmZicvPgoJPGxpbmUgeDE9Jy0yJyB5MT0nMScgeDI9JzcnIHkyPScxMCcgc3Ryb2tlPScjY2NjY2NjJyBzdHJva2Utd2lkdGg9Jy43Jy8+Cgk8bGluZSB4MT0nLTInIHkxPSc2JyB4Mj0nNycgeTI9JzE1JyBzdHJva2U9JyNjY2NjY2MnIHN0cm9rZS13aWR0aD0nLjcnLz4KCTxsaW5lIHgxPSctMicgeTE9Jy00JyB4Mj0nNycgeTI9JzUnIHN0cm9rZT0nI2NjY2NjYycgc3Ryb2tlLXdpZHRoPScuNycvPgo8L3N2Zz4=');
}

.valign-middle{
  vertical-align:middle;
}

footer{
  padding:0 0 30px 0;
}

body{
  
}

