/* Blue Theme */

body {
	background-color:#f6ffff;
}

a{
	color:#2198d5;
}

a:hover,a:active{
	color:#145171;
}

.info-bar-button{
	color:#003abd;
}

.info-bar-button:hover,.info-bar-button:active{
	color:#000;
	text-decoration: underline;
}

.dir-bar-button{
	background-color:#c8eeff;
}

.dir-items{
	background-color:#f0fcff;
}

.dir-bar,.info-bar{
	background-color:#aee5ff;
}


a.dir-bar-button:hover,a.dir-bar-button:active{
	background-color:#d4f1ff;
}
