.markdown-wrapper{
  width:100%;
  min-width: 400px;
  margin:45px 0 0 0;
}

.markdown-content{
  width:90%;
  padding: 3em;
  border-radius: 0.7em;
  margin: 0 auto;
  border: solid 2.5px #aaa;
  font-size: 0.92em;
  background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNzknIGhlaWdodD0nMjc5JyB2aWV3Qm94PScwIDAgMjc5IDI3OSc+Cgk8ZGVmcz4KCQk8cGF0dGVybiBpZD0nYmx1ZXN0cmlwZScgcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScgeD0nMCcgeT0nMCcgd2lkdGg9JzMxJyBoZWlnaHQ9JzMxJyB2aWV3Qm94PScwIDAgNjIgNjInID4KCQk8cmVjdCB3aWR0aD0nMTEwJScgaGVpZ2h0PScxMTAlJyBmaWxsPScjZmZmZmZmJy8+CgkJCTxwYXRoIGQ9J00xLDFoNjJ2NjJoLTYydi02MicgZmlsbC1vcGFjaXR5PScwJyBzdHJva2Utd2lkdGg9JzEnIHN0cm9rZS1kYXNoYXJyYXk9JzAsMSwxJyBzdHJva2U9JyNlYWVhZWEnLz4KCQk8L3BhdHRlcm4+IAoJCTxmaWx0ZXIgaWQ9J2Z1enonIHg9JzAnIHk9JzAnPgoJCQk8ZmVUdXJidWxlbmNlIHR5cGU9J3R1cmJ1bGVuY2UnIHJlc3VsdD0ndCcgYmFzZUZyZXF1ZW5jeT0nLjIgLjMnIG51bU9jdGF2ZXM9JzUnIHN0aXRjaFRpbGVzPSdzdGl0Y2gnLz4KCQkJPGZlQ29sb3JNYXRyaXggdHlwZT0nc2F0dXJhdGUnIGluPSd0JyB2YWx1ZXM9JzAnLz4KCQk8L2ZpbHRlcj4KCTwvZGVmcz4KCTxyZWN0IHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9J3VybCgjYmx1ZXN0cmlwZSknLz4KPHJlY3Qgd2lkdGg9JzEwMCUnIGhlaWdodD0nMTAwJScgZmlsdGVyPSd1cmwoI2Z1enopJyBvcGFjaXR5PScwJy8+Cjwvc3ZnPgo=');
}

.markdown-content p{
  display: block;
  width: 100%;
}
.markdown-code{
  background-color: #fafafa;
  border:solid 1px #ccc;
  border-radius: 2.5px;
  font-size: 0.80em;
  line-height: 1.4em !important;
}

.markdown-pre code.markdown-code{
  background-color: inherit;
  border:inherit;
  border-radius: inherit;
  font-size: inherit;
  padding: inherit;
  line-height: inherit;
}

.markdown-pre{
  background-color: #fafafa;
  border-radius: 8px;
}

.markdown-img{
  margin: 4px auto;
  display: block;
}





